@model IEnumerable<GigHub.Models.Gig>
@{
    ViewData["Title"] = "Mine";
    Layout = "_Layout";
}
 <h1>My Upcoming Gigs</h1>
<ul class="gigs voffset4">
    @foreach (var gig in Model)
    {
        <li>
            <div class="date">
                <div class="month">
                    @gig.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @gig.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="artist">
                    @gig.Venue
                 </span>

                <span class="genre">
                    @gig.Genre.Name
                </span>
                <div class="actions">
                    <a href="@Url.Action("Edit", "Gigs", new { id = gig.Id })">
                        Edit
                    </a> |
                    <a href="#" class="js-cancel-gig" data-gig-id="@gig.Id">
                        Cancel
                    </a>
                </div>
            </div>
        </li>
    }
</ul>
@section Scripts
{
    <script>
        $(document).ready(function () {

            $(".js-cancel-gig").click(function (e) {
                var link = $(e.target);
                // var gigIdValue = link.attr("data-gig-id");

                 debugger;
                let dialog = bootbox.dialog({
                    title: 'Confirm',
                    message: "<p>Are you sure you want to cancel this gig?</p>",
                    size: 'large',
                    buttons: {
                        no: {
                            label: "No",
                            className: 'btn-default',
                            callback: function(){
                                bootbox.hideAll();
                                @* console.log('Custom cancel clicked'); *@
                            }
                        },
                       yes: {
                            label: "Yes",
                            className: 'btn-danger',
                            callback: function(){
                                $.ajax({
                                    url: "/api/Gigs/cancel/" + link.attr("data-gig-id"),
                                    method: "DELETE"
                                    // contentType: "application/json",
                                    // data: JSON.stringify({ gigId: gigIdValue })
                                    // data: { id: link.attr("data-gig-id") },
                                    // data: {id: link.attr("data-gig-id")},
                                    // contentType: "application/json"
                                })
                                    .done(function () {
                                        link.parents("li").fadeOut(function () {
                                            $(this).remove();
                                        });
                                    })
                                    .fail(function () {
                                        alert("Something failed!");
                                    });
                                @* console.log('Custom button clicked'); *@
                                @* return false; *@
                            }
                        }
                        // ok: {
                        //     label: "I'm an OK button!",
                        //     className: 'btn-info',
                        //     callback: function(){
                        //         console.log('Custom OK clicked');
                        //     }
                        // }
                    }
                });
               // bootbox.confirm('Are you sure you want to cancel this gig?', function (result) {
                
                //});
                          
            });
        });
    </script>



    <script src="~/lib/bootbox.min.js"></script>
}
